* {
    box-sizing: border-box;
    padding: 0;
    margin:0 ;
    font-family: 'Libre Baskerville', serif;
   
    
}

.maindiv {
    width:100%;
    height: 80px;
    border: 1px solid black;
    align-items: center;
    display: flex;
    justify-content: space-around;
    background-color: white;
    
}

.imagediv {
    height: 70px;
    width:30%;
    border: 3px solid #029BD8;
    border-radius: 40px;
    float: left;
    margin: 2px;
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
    padding:2px;
    object-fit: cover;
}

.navbar {
    height: 70px;
    width: 70%;
    border: 1px solid brown;
    margin:2px;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    overflow: hidden;
}


.image {
    max-height: 100%;
    max-width:100%;
    align-self: center;
    min-height: 50px;
    min-width: 180px;
}

.navlinks {
    display:flex ;
    padding: 5px;
    margin: 2px;
    float: left;
    overflow: hidden;
    max-height: 70%;
    max-width: 50%;
    border-radius: 15px;
    color: black;
    margin-left: 20px;
    margin-right: 20px;
    flex-wrap: wrap;
}

.navlinks:hover {
    background-color: rgb(26, 23, 23);
    color:white;
    border: 1px rgb(26, 23, 23) solid;
}

.button {
    background-color: #2D9BDD;
    margin: 5px;
    border-radius: 30px;
    height:70%;
    border: solid 2px #2D9BDD;
    width: 30%;
    min-width: 30%;
    margin-right: 10px;
    color:whitesmoke;
}

.button:hover {
    background-color: rgb(26, 23, 23);
    color:white;
    border: solid 2px rgb(26, 23, 23); }

.imgcarousel {
    border: 1px solid black;
    margin: 15px;
    padding-left: 5px;
    padding-right: 5px;
    height:400px;
    max-width: 100%;
    overflow: hidden;
    
}

.carousel {
    height:400px;
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
    object-position:center;
    overflow: hidden;
    
}

.carouseltext {
    color:black;    
    position: absolute;
    top: 120px;
    left: 40px;
    padding:8px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width:400px;
    height: fit-content;
    flex-wrap: wrap;
    overflow: hidden;
}

.carouseltext h1 {
    padding:5px;
    margin-bottom: 20px;
    border:1px solid white;
    width: 9000p;    
}

.carouseltext h2 {
    margin-bottom:1px;
    color:white;
    padding:5px;
}

.carouseltext p {
    background-color: rgba(137, 207, 240,.5);
    padding:5px;
} 

.middletext {
    text-align: center;
    margin: 10px;
    
}

.mainplandiv {
    height: auto;
    width: 100%;
    border: 1px solid chartreuse;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.plandiv {
    display: inline-flex;
    height: 550px;
    min-width: 45%;
    margin:5px;
    border:1px solid black;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.back1 {
    position:relative;
    height: 100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.back1::before {
    content: "";
    background-image: url(https://images.pexels.com/photos/3289711/pexels-photo-3289711.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-size:cover;
    position:absolute;
    top:0px;
    right: 0px;
    bottom:0px;
    left: 0px;
    opacity: .25;
    background-color: white;
}

.back2 {
    position:relative;
    height: 100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.back2::before {
    content: "";
    background-image: url(https://images.pexels.com/photos/4608173/pexels-photo-4608173.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load);
    background-size:cover;
    position:absolute;
    top:0px;
    right: 0px;
    bottom:0px;
    left: 0px;
    opacity: .25;
}

.textdiv {

  position: relative;
  color: #ffffff;  
  font-size: 14rem;
  line-height: 0.9;
  text-align: center;
}

.textbox {
    position:absolute;
    padding:10px;
    margin:2px;
    overflow: hidden;
    text-align: left;
    height: 90%;
    width:88%;
    border: 1px black solid;
}

.center {
    text-align: center;
}

hr {
    border: 1px solid black;
    opacity: .8;
}

.textbox hr {
    margin-bottom:10px;
}

.textbox ul {
    padding: 5px;
    list-style: none;   
    flex-wrap: wrap;
    overflow: hidden;
    width: auto;
    height: 70%;
}


.li {
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 3vh;
}

.textbox h3 {
    background-color: #19878f;
    border-radius: 5px;
    text-align: center;
    color: whitesmoke;
    margin-top: 10px;
    position: absolute;
    bottom:0;
    margin-bottom: 10px;
    width: 100%;
    margin-left: 30px;
    padding: 20px 10px;

}

.blue {
    color:#029BD8;
    font-weight: bold;
}

.red {
    color: rgba(229, 0, 103, .9);
    font-weight: bolder;
}

.italic 
{
    font-style: italic;
}

.middletext {
    border:1px solid brown;
}

.demonstrationdiv {
    border:1px black solid;
    width:100%;
    height: fit-content;
    flex-wrap: wrap;
    overflow:hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.demo {
    border:3px solid red;
    height: 300px;
    width: 400px;
    margin: 10px;
    overflow: hidden;
}

.demo img {
    height: 100%;
    width:100%;
    object-fit: cover;
    overflow: hidden;
}

.blacktext {
    z-index:1;
    position: sticky;
    height: 50px;
    width:300px;
    border:1px solid black;
    top:77%;
    display: flex;
    align-items: center;
    background-color: black;
    color:white;
    padding: 2px 50px;
}

.buttondiv {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 100%;
    border: 1px red solid;
}

.classes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

}
 
.classdemo {
    height: 500px;
    width: 30%;
    margin:5px;
    border:1px solid black;
}

.classimg {
    border:1px solid red;
    height: 40%;
    width: ;
}

.classtext{
    border:1px solid green;
    height: auto;
    width: 100%;
}